<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp8D5F02FE8C4D8FDBD30FF80828A96476" Guid="{87C542AA-5498-4B65-ACD3-AA42C00B974E}">
                <File Id="fil650659426BE8F33AD501B251A8549DA7" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns.exe" />
            </Component>
            <Component Id="cmp945A6D3121864473F7460C5DC8455427" Guid="{4A9D539D-35AE-41B7-AC89-64DF3E323415}">
                <File Id="filBFDE95D1B0A63DB02F02094212B0A507" KeyPath="yes" Source="$(var.BasePath)\LICENSE.txt" />
            </Component>
            <Component Id="cmpFF64DC5E6A88A04C95679A2F09A8AC2B" Guid="{775E7E27-D06A-4C60-AC47-E06DF8413654}">
                <File Id="filE38704CD067FF8A17D55A10E4936C638" KeyPath="yes" Source="$(var.BasePath)\Manifest_NonUFSFiles_Win64.txt" />
            </Component>
            <Component Id="cmp4415E7A8CF3B39C452B901DD5B93D01C" Guid="{49705E94-2992-471C-BA25-A1D6613D8922}">
                <File Id="filE38382B8C07314C5C5F33EA41AAE675C" KeyPath="yes" Source="$(var.BasePath)\Manifest_UFSFiles_Win64.txt" />
            </Component>
            <Directory Id="dir2AB38F46EAECCB94563A9BD0DCC148AD" Name="Engine">
                <Directory Id="dirE1064A66121FDC1B281074C67B8982EF" Name="Binaries">
                    <Directory Id="dir8BC0E5C7C23909FC717BCFB9B59D2263" Name="ThirdParty">
                        <Directory Id="dirA9A7291130EBE98EFA3B599A2AAF8CA6" Name="DbgHelp">
                            <Component Id="cmp41E9FCAD39B2BC5DDD61F3B41F56287C" Guid="{B77D1AC3-9FFF-4936-A530-9DE88E3DD373}">
                                <File Id="fil3AA84F49F067A8533F0124FA44458516" KeyPath="yes" Source="$(var.BasePath)\Engine\Binaries\ThirdParty\DbgHelp\dbghelp.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dirE6F848F59A4A27CA9D2D721824FE42F9" Name="NVIDIA">
                            <Directory Id="dirC7C782B6DD4896B898B6E5ABC9958384" Name="NVaftermath">
                                <Directory Id="dirF47512E920F3DBEBFDA08E0C0775191A" Name="Win64">
                                    <Component Id="cmp07B36CC1DA433970E21F82C76C3EE946" Guid="{DE87516B-EEB9-4BCB-BE84-DD06F27E93D9}">
                                        <File Id="filAC48AF5E99E0A583FE7E3C200BAC3491" KeyPath="yes" Source="$(var.BasePath)\Engine\Binaries\ThirdParty\NVIDIA\NVaftermath\Win64\GFSDK_Aftermath_Lib.x64.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="dir5F7C3B1BF4F2CC2EA8704738C3EADF06" Name="Ogg">
                            <Directory Id="dirF6B7BD1950305043197EFF3AC6BDFB7D" Name="Win64">
                                <Directory Id="dir9CAFE72DB8D1BF5A15E9F74DF00DD75C" Name="VS2015">
                                    <Component Id="cmp379324C45B84FFBACB0A126DC16B952D" Guid="{CF626E31-8600-40F4-A1E5-72B8AC5BCF22}">
                                        <File Id="fil828A555B8606B91B1C45C2BBF1A074F1" KeyPath="yes" Source="$(var.BasePath)\Engine\Binaries\ThirdParty\Ogg\Win64\VS2015\libogg_64.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="dirC9A2470D9B138B0AAA2AFE144D9ACE8A" Name="Vorbis">
                            <Directory Id="dirF3E7B2F843A4E6D1541B581FEB2B514A" Name="Win64">
                                <Directory Id="dirA007A2AB6E22064666E4E225D34820D9" Name="VS2015">
                                    <Component Id="cmp111CD54AFACEF48919FA128E813C9B8C" Guid="{3F731660-A498-46F2-9C5E-1C76A6E1E228}">
                                        <File Id="filE46926C1C834F70B9E8FF11C9C3FFF93" KeyPath="yes" Source="$(var.BasePath)\Engine\Binaries\ThirdParty\Vorbis\Win64\VS2015\libvorbisfile_64.dll" />
                                    </Component>
                                    <Component Id="cmpACFE1F7D7FCEAF8C632BDB513D93312F" Guid="{B7F5F245-90DD-4477-AF0D-02680FA3EA7B}">
                                        <File Id="fil83984C3DFDAB8B636E34158C85ED49A2" KeyPath="yes" Source="$(var.BasePath)\Engine\Binaries\ThirdParty\Vorbis\Win64\VS2015\libvorbis_64.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="dir174A0B006E56FAA439ED2812CD25BAD4" Name="Windows">
                            <Directory Id="dirEDDA24723B42505956C18F167079C4BB" Name="XAudio2_9">
                                <Directory Id="dir0463DCA466B20A92F1FE51F9B358FBD6" Name="x64">
                                    <Component Id="cmpA8F696FB2521CDBADB4BF91BFDF6D443" Guid="{D8C9FA7C-C174-4439-8BE5-9A61C41E6BDB}">
                                        <File Id="fil03FE8C0CAD3D74C5744F0EB4CAF57ABD" KeyPath="yes" Source="$(var.BasePath)\Engine\Binaries\ThirdParty\Windows\XAudio2_9\x64\xaudio2_9redist.dll" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir0AB687573E0F1DDCF719CD8C8D972B9D" Name="Extras">
                    <Directory Id="dir9E5EDDED8B8471C405E51F93139F5D90" Name="Redist">
                        <Directory Id="dirE91301220B9AA80B64DD1413292D4FD3" Name="en-us">
                            <Component Id="cmpB8833BAF27DDF1BE6850104211BF6EB1" Guid="{82829967-26F4-4622-BFAF-B2BDCADD547B}">
                                <File Id="fil16E2E026EC59F77AFB171D2AB79A7C23" KeyPath="yes" Source="$(var.BasePath)\Engine\Extras\Redist\en-us\UEPrereqSetup_x64.exe" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="dirB391D4A0AFA1C3685374D0DC74B417E5" Name="FiresThousandSuns">
                <Directory Id="dir7595EAC27137B28542408FA7BD061773" Name="Binaries">
                    <Directory Id="dirCF03F5A32D9CA4F2AC9F582BB80EE59B" Name="Win64">
                        <Component Id="cmp4EE501304F81B1E08F6603D444DD4099" Guid="{B2F92DD9-18C2-447C-9056-74AD9AF377E0}">
                            <File Id="fil1E57266EC86482368A817D6217B7BE72" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_atomic-mt-x64.dll" />
                        </Component>
                        <Component Id="cmp2D6FEB4E513B1B5D491292CA4874F24F" Guid="{B1AC55FD-F362-4A9A-B0E6-857CEDD3C90E}">
                            <File Id="fil4DD9F2D6E315D1858A4F7C78971637EF" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_chrono-mt-x64.dll" />
                        </Component>
                        <Component Id="cmp2744378559DB7EEA44A492482C29F196" Guid="{41DEC998-EF63-4371-9182-E6D3D0323423}">
                            <File Id="filB2167A3C44897382516C177AC2774994" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_filesystem-mt-x64.dll" />
                        </Component>
                        <Component Id="cmp103E3966C9C6FF42FCAA655EB504DCA1" Guid="{D0F486DB-4C74-4BEC-9EEA-219BBA34A797}">
                            <File Id="fil078BEB1326CCF4EDCF2AF9E365914A6B" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_iostreams-mt-x64.dll" />
                        </Component>
                        <Component Id="cmpF95FAA965EAE6134CAB1286E40B2C53E" Guid="{A48C759E-8650-4837-A51C-6A8C0B2BC64A}">
                            <File Id="fil1EBC69D29291A90DC13952A72743FFB4" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_program_options-mt-x64.dll" />
                        </Component>
                        <Component Id="cmpDA5744C01A14AD211BA029F43361D0EC" Guid="{15A422CB-6160-4016-ADBA-8AE1CB7A23B1}">
                            <File Id="filEEE5F44709A7F6C7BE3464BE7FE5A94C" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_python39-mt-x64.dll" />
                        </Component>
                        <Component Id="cmp100F949AA9DB900852952F25728D13D0" Guid="{D65833AD-D92E-4282-AF98-ACC79D3A32A7}">
                            <File Id="fil68F5B78A102743B762A418E0D0FD15F9" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_regex-mt-x64.dll" />
                        </Component>
                        <Component Id="cmpBBDE13536C0EA7FBCB17CE826AF666E6" Guid="{80958827-DA73-45D3-A9CB-31CE03AADA8A}">
                            <File Id="filF1C865B6A6F91E989197CB9E6AF5EA17" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_system-mt-x64.dll" />
                        </Component>
                        <Component Id="cmpF725E74248F400FBC084D05600D461EC" Guid="{188C74BF-6AD5-438B-8CC4-45B2F9A0304C}">
                            <File Id="fil2DD44BFD6430837F9F79B92CE387934A" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\boost_thread-mt-x64.dll" />
                        </Component>
                        <Component Id="cmpE1DCA46233B0C5967BE28EDC42923F99" Guid="{0B485EB4-F01B-40EF-991B-057FA7A61CB6}">
                            <File Id="filD0A2CF4DBB728267B469527A9BB90399" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\FiresThousandSuns-Win64-Shipping.exe" />
                        </Component>
                        <Component Id="cmp8F853F92B78A34529293E1612209F856" Guid="{54D81AAF-E325-40D0-ABBC-DA1867099937}">
                            <File Id="fil0C225E56BF7B09E6B3616B2FE56592E7" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\OpenImageDenoise.dll" />
                        </Component>
                        <Component Id="cmpA8D7D26E73531F72DB5491A1D9A93B38" Guid="{BE53F704-0079-4BC6-980B-678EDAFA122D}">
                            <File Id="fil20D8E1A817EBE4B5A7CEBFE565A23B75" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\tbb.dll" />
                        </Component>
                        <Component Id="cmpB2DFED63109F948E46D5B1FCBFD58ED1" Guid="{23C9B956-F9D8-4536-B4D8-0610C9832AC3}">
                            <File Id="fil1B99CBEEA9230945B44464CCC468DDDB" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\tbb.pdb" />
                        </Component>
                        <Component Id="cmp0DD34D4039948014E7DD7B536020DC41" Guid="{23559AA1-851B-48BF-9AC5-C9761FCC7EC8}">
                            <File Id="fil3C6AE15FB5515B976FB1E9BC0E90FFB1" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\tbb12.dll" />
                        </Component>
                        <Directory Id="dir0DC18A2EC00CE688FA5CECB28503A7B1" Name="D3D12">
                            <Component Id="cmp2450BEF8E55D60266A9C91D0A062E07B" Guid="{EE8BA579-D030-411A-8BCF-89B73C16AE14}">
                                <File Id="fil696BA7243A2B7C461EA5845027EFCB47" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Binaries\Win64\D3D12\D3D12Core.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirDF53E96848389AA48A6CC487366BB8C1" Name="Content">
                    <Directory Id="dir635EBABA7962D1E71B2F90EF72DC5CDD" Name="Paks">
                        <Component Id="cmp17C26B68B2F8902C196E05EDED6E2265" Guid="{E723BEAE-8BCA-4AC4-818C-BC2D5018C776}">
                            <File Id="fil1FCD07F95E8A9CE5C879754D3A75EC4C" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Content\Paks\FiresThousandSuns-Windows.pak" />
                        </Component>
                        <Component Id="cmp3E4A730C49B02F91698556561B87D8E8" Guid="{521BA9FB-8B0F-47F9-88EF-27E096969C71}">
                            <File Id="fil4909BDBF207FF5F10F2247B81E1B1DD1" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Content\Paks\FiresThousandSuns-Windows.sig" />
                        </Component>
                        <Component Id="cmpA66E620DCC6425EDABECF02A726BE7E7" Guid="{2CEB0EF8-41C7-4FE1-A474-9ADC6A5404F0}">
                            <File Id="filD58A14BEA29036E3C39BD3F5A5079FD5" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Content\Paks\FiresThousandSuns-Windows.ucas" />
                        </Component>
                        <Component Id="cmpCA01F42EBF91D363CD97DE156C91D844" Guid="{30A9D8B2-73AD-43AD-910E-257783244921}">
                            <File Id="fil945F912FA75DCF3D09600234DF220776" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Content\Paks\FiresThousandSuns-Windows.utoc" />
                        </Component>
                        <Component Id="cmp31DE34DE2F4FB5868E68DE1DFF2A9CC1" Guid="{7C067A42-18A1-447B-BE3C-9B98A4B3A3B6}">
                            <File Id="filCC86B059E34D2A1842DAF35D91D931BE" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Content\Paks\global.ucas" />
                        </Component>
                        <Component Id="cmp480B165C12540012F569A516A8535231" Guid="{AEED41C7-64D8-4B62-AC94-14E43308CC2E}">
                            <File Id="fil837435AE904E764CE29634BFAED045D7" KeyPath="yes" Source="$(var.BasePath)\FiresThousandSuns\Content\Paks\global.utoc" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ReleaseComponents">
            <ComponentRef Id="cmp8D5F02FE8C4D8FDBD30FF80828A96476" />
            <ComponentRef Id="cmp945A6D3121864473F7460C5DC8455427" />
            <ComponentRef Id="cmpFF64DC5E6A88A04C95679A2F09A8AC2B" />
            <ComponentRef Id="cmp4415E7A8CF3B39C452B901DD5B93D01C" />
            <ComponentRef Id="cmp41E9FCAD39B2BC5DDD61F3B41F56287C" />
            <ComponentRef Id="cmp07B36CC1DA433970E21F82C76C3EE946" />
            <ComponentRef Id="cmp379324C45B84FFBACB0A126DC16B952D" />
            <ComponentRef Id="cmp111CD54AFACEF48919FA128E813C9B8C" />
            <ComponentRef Id="cmpACFE1F7D7FCEAF8C632BDB513D93312F" />
            <ComponentRef Id="cmpA8F696FB2521CDBADB4BF91BFDF6D443" />
            <ComponentRef Id="cmpB8833BAF27DDF1BE6850104211BF6EB1" />
            <ComponentRef Id="cmp4EE501304F81B1E08F6603D444DD4099" />
            <ComponentRef Id="cmp2D6FEB4E513B1B5D491292CA4874F24F" />
            <ComponentRef Id="cmp2744378559DB7EEA44A492482C29F196" />
            <ComponentRef Id="cmp103E3966C9C6FF42FCAA655EB504DCA1" />
            <ComponentRef Id="cmpF95FAA965EAE6134CAB1286E40B2C53E" />
            <ComponentRef Id="cmpDA5744C01A14AD211BA029F43361D0EC" />
            <ComponentRef Id="cmp100F949AA9DB900852952F25728D13D0" />
            <ComponentRef Id="cmpBBDE13536C0EA7FBCB17CE826AF666E6" />
            <ComponentRef Id="cmpF725E74248F400FBC084D05600D461EC" />
            <ComponentRef Id="cmpE1DCA46233B0C5967BE28EDC42923F99" />
            <ComponentRef Id="cmp8F853F92B78A34529293E1612209F856" />
            <ComponentRef Id="cmpA8D7D26E73531F72DB5491A1D9A93B38" />
            <ComponentRef Id="cmpB2DFED63109F948E46D5B1FCBFD58ED1" />
            <ComponentRef Id="cmp0DD34D4039948014E7DD7B536020DC41" />
            <ComponentRef Id="cmp2450BEF8E55D60266A9C91D0A062E07B" />
            <ComponentRef Id="cmp17C26B68B2F8902C196E05EDED6E2265" />
            <ComponentRef Id="cmp3E4A730C49B02F91698556561B87D8E8" />
            <ComponentRef Id="cmpA66E620DCC6425EDABECF02A726BE7E7" />
            <ComponentRef Id="cmpCA01F42EBF91D363CD97DE156C91D844" />
            <ComponentRef Id="cmp31DE34DE2F4FB5868E68DE1DFF2A9CC1" />
            <ComponentRef Id="cmp480B165C12540012F569A516A8535231" />
        </ComponentGroup>
    </Fragment>
</Wix>