<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--
		tuto : https://www.youtube.com/watch?v=6Yf-eDsRrnM
		HeatDirectory harvest crash VS fix : https://github.com/wixtoolset/issues/issues/6636
	-->
	
	<!-- Fixed upgrade Id -->
	<?define UpgradeCode = "{BF4A446D-3EA3-4730-8080-077377375305}"?>

	<!-- Give package a unique ID per platform -->
	<?if $(var.Platform) = x64?>
	<?define ProductCode = "{CAFE3D17-EADD-49EA-AFE3-FB693760B22B}"?>
	<?else?>
	<?define ProductCode = "{71178173-A205-452C-8095-568FF1463C0C}"?>
	<?endif?>

	<!-- Can be defined in the project file (GetAssemblyIdentity). -->
	<?define BuildVersion = 1.1.0.0 ?>

	<!-- Main product -->
	<Product
		Id="$(var.ProductCode)"
		Name="!(loc.ProductName_$(var.Platform))"
		Version="$(var.BuildVersion)"
		Manufacturer="!(loc.Company)"
		UpgradeCode="$(var.UpgradeCode)"
		Language="!(loc.Language)"
	>
		<!-- Package details -->
		<!-- Comments="!(loc.Comments)" -->
		<Package
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine"
			Manufacturer="!(loc.Company)"
			Description="!(loc.Description)"
			Keywords="!(loc.Keywords)"
			Languages="!(loc.Language)"
		/>
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<!-- Include .cab file into .msi file-->
		<MediaTemplate EmbedCab="yes" />

		<!-- Program details in Windows -->
		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\fts-icon-bold-450x450.ico" />
		<Property Id="ARPPRODUCTICON">icon.ico</Property>
		<Property Id="ARPURLINFOABOUT">https://github.com/rhoffsch42/Fires-Thousand-Suns</Property>
		<Property Id="ARPURLUPDATEINFO">https://github.com/rhoffsch42/Fires-Thousand-Suns/releases</Property>
		<Property Id="ARPHELPLINK">https://github.com/rhoffsch42/Fires-Thousand-Suns</Property>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		
		<!-- Create a basic UI for the installer -->
		<!-- Background: 493x312 -->
		<!-- Banner: 493x58 -->
		<!-- WixUI_Minimal WixUI_InstallDir-->
		<UIRef Id="WixUI_InstallDir" />
		
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\assets\License.rtf" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\assets\Background.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\assets\Banner.bmp" />


		<!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" Title="FiresThousandSuns_installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ReleaseComponents" />
		</Feature>
	</Product>



</Wix>






