<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<!-- Give package a unique ID per platform -->
	<?if $(var.Platform) = x64?>
	<?define ProductCode = "{75F8B1EB-57F7-498E-9371-65CA5FDAA20F}"?>
	<?else?>
	<?define ProductCode = "{96C38B2A-E78D-45FC-BA2E-526D9C786137}"?>
	<?endif?>
	
	<!-- Fixed upgrade Id -->
	<?define BuildVersion = 1.0.0.0 ?>
	<?define UpgradeCode = "{BF4A446D-3EA3-4730-8080-077377375305}"?>
	
	<!-- Package details -->
	<Package
		Name="!(loc.ProductName_$(var.Platform))"
		Manufacturer="!(loc.Company)"
		Language="!(loc.Language)"
		Version="$(var.BuildVersion)"
		UpgradeCode="$(var.UpgradeCode)"
	>
	  
	  <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

	  <MediaTemplate
		  EmbedCab="yes"
		  />

	  <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\fts-icon-bold-450x450.ico" />
		<Property Id="APPPRODUCTICON">icon.ico</Property>
		<Property Id="APPURLINFOABOUT">https://github.com/rhoffsch42/Fires-Thousand-Suns</Property>

		<!-- Create a basic UI for the installer -->
		<UIRef Id="WixUI_Minimal" />
		
	  <Feature Id="Main">
		  <ComponentGroupRef Id="ExampleComponents" />
	  </Feature>
  
  
  
  </Package>
</Wix>
